<div class="row chart-selection" style="margin-bottom: 20px;">
    <div class="select-all">
        <label>
            <input type="checkbox" (change)="toggleSelectAll()" />
            Select All Charts
        </label>
    </div>
    <div *ngFor="let chart of charts" class="chart-label">
        <label>
            <input type="checkbox" [(ngModel)]="chart.selected" (change)="onChartSelection()" />
            <i *ngIf="getIconClass(chart.title)" [ngClass]="['fas', getIconClass(chart.title), 'fa-lg']"></i>
            <span *ngIf="!getIconClass(chart.title)">{{ chart.title }}</span>
        </label>
    </div>
</div>

<div class="chart-container">
    <ng-container *ngFor="let chart of charts">
        <div *ngIf="chart.selected" class="chart-item">
            <h2>{{ chart.title }}</h2>
            <canvas [id]="chart.id" style="margin: 0 auto;"></canvas>
        </div>
    </ng-container>
</div>
