<div class="row" style="margin-bottom: 20px; display: flex; align-items: center;">
    <div style="margin-right: 15px;">
        <label>
            <input type="checkbox" [(ngModel)]="allChartsSelected" (change)="toggleSelectAll()" />
            Select All Charts
        </label>
    </div>
    <div *ngFor="let chart of charts" style="margin-right: 15px;">
        <label>
            <input type="checkbox" [(ngModel)]="chart.selected" (change)="onChartSelection()" />
            {{ chart.title }}
        </label>
    </div>
</div>

<div class="chart-container" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <div *ngFor="let chart of charts" class="chart-item" style="flex: 1 1 45%; margin-bottom: 20px;">
        <ng-container *ngIf="chart.selected">
            <h2>{{ chart.title }}</h2>
            <canvas [id]="chart.id"></canvas>
        </ng-container>
    </div>
</div>
