.chart-container {
  height: 900px;          /* Fixed height for the container */
  margin-top: 10px;       /* Margin at the top */
  margin-bottom: 10px;       /* Margin at the top */
  position: relative;     /* Allows positioning of child elements */
}

#chartCanvas {
  width: 200px;           /* Set specific width */
  height: 200px;          /* Set specific height */
  position: absolute;     /* Position it relative to the container */
  top: 20px;              /* Adjust the vertical position */
  left:0;                /* Align to the left */
  margin-top: .2in;
}
