<div class="container">
  <!-- Button to load tables -->
  <button (click)="loadTables()">Tables</button>
  
  <!-- Show loading message when data is being fetched -->
  <div *ngIf="isLoading"></div>

  <!-- Main container that will contain both the main table list and columns side by side -->
  <div class="container-one">
    
    <!-- Tables list (main table) -->
    <div *ngIf="tables.length > 0" class="table-list">
      <ul>
        <li *ngFor="let table of tables">
          <label>
            <input type="checkbox" (change)="loadColumns(table, $event)" />
            {{ table }}
          </label>
        </li>
      </ul>
    </div>

    <!-- Columns container (all selected columns tables side-by-side) -->
    <div class="columns-container" *ngIf="getSelectedColumnKeys().length > 0">
      <div *ngFor="let tableName of getSelectedColumnKeys()">
        <div class="column_table">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>{{ tableName }} columns</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let column of selectedColumns[tableName]">
                <td><input type="checkbox" /></td>
                <td>{{ column }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-two">
    <h1>Hi this is 2nd contain</h1>
  </div>
</div>
