<h2 class="report-title">Report Tool</h2>

<nav class="navbar">
  <ul class="nav-list">
    <li *ngIf="!isOnChartPage()"><a routerLink="/chart" routerLinkActive="active">Monthly Sale Order</a></li>
    <li *ngIf="!isOnChartPage()"><a routerLink="/sale_order_trend" routerLinkActive="active">Sale Order Treand</a></li>
    <li *ngIf="!isOnChartPage()"><a routerLink="/sales_performance" routerLinkActive="active">Sales Performance</a></li>
    <li *ngIf="isOnChartPage()"><a routerLink="/" routerLinkActive="active">Home</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
